h1, h2, h3, h4, h5, h6 {
  font-family: 'Quicksand';
}
p, div {
  font-family: 'Quicksand';
}

span.title-clari {
  color: white;
}

span.title-food {
  font-weight: bold;
  color: red;
}

.error-msg {
  margin-top: 10px;
}

.no-error {
  visibility: hidden;
}

.unstyled-list {
  padding:0; margin:0;
  list-style-type: none;
}

.locations {
  text-align: center;
}

.location-card {
  text-align: left;
  margin: 0 auto;
  margin-top: 30px;
  margin-bottom: 30px;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 50px;
  padding-right: 50px;
  background: rgba(99,123,164,0.6);
  border-radius: 25px;
  min-height: 100px;
  max-width: 400px;
}


.xx .unfix-position {
  position: relative;
}

.xx .spinner {
  display: inline-block;
  opacity: 0;
  width: 0;

  color: green;
  background-color: black;

  -webkit-transition: opacity 0.25s, width 0.25s;
  -moz-transition: opacity 0.25s, width 0.25s;
  -o-transition: opacity 0.25s, width 0.25s;
  transition: opacity 0.25s, width 0.25s;
}

.xx .has-spinner.active {
  cursor:progress;
}

.xx .has-spinner.active .spinner {
  opacity: 1;
  width: auto; /* This doesn't work, just fix for unkown width elements */
}

.xx .has-spinner.btn-mini.active .spinner {
    width: 10px;
}

.xx .has-spinner.btn-small.active .spinner {
    width: 13px;
}

.xx .has-spinner.btn.active .spinner {
    width: 16px;
}

.xx .has-spinner.btn-large.active .spinner {
    width: 19px;
}

.gold-button {
  background: rgba(255, 204, 51, 0.9);
}

