{% extends "base.html" %}

{% block content %}
<div class="inner cover">
  <h1>why clarifood?</h1>
  <p class="lead">
    Have you ever seen someone on the streets and really wanted to know what they were eating? Have you ever seen a picture on Instagram and thought "Wow, I really want to eat that"? Give the picture to clari<strong>food</strong>, and you can find restaurants near you that serve the food you want. clari<strong>food</strong> is a revolutionary food app that uses a ground-breaking visual recognition API from <a href="https://www.clarifai.com">Clarifai</a> and combines it with the Google Places API to bring you to all those delicious-looking foods.
  </p>
  <p class="lead">
    Why do we need clari<strong>food</strong>? Well, if you look at the new generation and the direction we are heading in, the <s>Creative Cloud</s>--clari<strong>food</strong> is the future; it has all the tools. Don't me about antiquated tools. I want to tell you about the future.
  </p>
</div>
{% endblock %}

