{% extends "base.html" %}

{% block header %}
{% endblock %}

{% block content %}

<div class="inner cover">

  <div class="circles-loader">
    Loading…
  </div>

  <h1 class="cover-heading"><span class="title-clari">clari</span><span class="title-food">food</span></h1>
  <p class="lead"></p>

  <form class="form" action="/find" method='post'>
    <div class="form-group input-group-lg">
      <input name="image_url" type="text" class="form-control" placeholder="Paste image URL here" aria-describedby="sizing-addon1" value="{{ request.form.image_url }}">
    </div>
    <button type="submit" class="btn btn-lg btn-warning gold-button">Go!</button>
  </form>

  {% if error %}
    <div class="error-msg alert alert-danger" role="alert">{{ error }}</div>
  {% else %}
    <div class="error-msg no-error alert alert-danger" role="alert">&nbsp;</div>
  {% endif %}

</div>
{% endblock %}

{% block footer %}
<div class="mastfoot">
<!--div class="footer"-->
  <div class="inner">
    <p>A HackNY app by <a href="https://www.linkedin.com/in/jonathansun0">Jonathan</a> and <a href="http://stephaniehuang.me">Stephanie</a>.<br>
      <a href="/about">Learn more</a></p>
  </div>
</div>
{% endblock %}

